* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans Regular";
  color: white;
}
* a {
  text-decoration: none;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

#main {
  width: 100%;
}

#home {
  width: 100%;
  height: 100vh;
  color: white;
}

#nav {
  width: 100%;
  padding: 2rem 2.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
}
#nav a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}

#header {
  margin-top: 90px;
}
#header h1 {
  font-family: "General Sans";
  font-size: 10.1vw;
  text-transform: uppercase;
  line-height: 0.9;
  opacity: 0.6;
  margin-left: 40px;
  letter-spacing: 6px;
}
#header-text {
  width: fit-content;
}
#header-text h1 {
  margin-left: 195px;
}
#header-text h4 {
  letter-spacing: 1.25px;
  text-align: right;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 1rem;
}

#subheader {
  margin-top: 100px;
  padding-right: 50px;
}
#subheader h5 {
  text-align: right;
  font-size: 1vw;
  font-weight: 100;
  margin-top: 0.5vw;
}

#home-footer {
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 3%;
  padding: 0 2.5vw;
  width: 100%;
}
#home-footer .iconset {
  display: flex;
  gap: 5px;
}
#home-footer .iconset .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #888;
}
#home-footer .iconset .circle i {
  color: black;
}

#section1 {
  height: 100vh;
  width: 100%;
  padding: 186px 10vw 3vw 3vw;
}
#section1 .elem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3.5vw 0vw;
  border-top: 1px solid #888;
}
#section1 .elem h1 {
  font-size: 7.35vw;
  opacity: 0.6;
  letter-spacing: 1px;
}
#section1 .elem img {
  display: none;
  height: 43%;
  position: absolute;
  z-index: 999;
}
#section1 .elemBottom {
  border: 1px solid #888;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 6rem;
  padding-left: 12rem;
}
.section2-img {
  padding-top: 3rem;
}
.section2-img img {
  border-radius: 50%;
  height: 16rem;
  width: auto;
}
.section2-text {
  padding-top: 7rem;
  flex-basis: 38%;
  letter-spacing: 1.2px;
}
.section2-text .span {
  opacity: 0.7;
  margin-bottom: 5px;
  font-size: 1vw;
}
.section2-text p {
  font-size: 1.25vw;
  padding-bottom: 30px;
  line-height: 1.5;
}
.section2-text a {
  border: 1px solid #888;
  padding: 0.7rem;
  border-radius: 100px;
  font-size: 12px;
}