* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans Regular";
}
* a {
  text-decoration: none;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

#main {
  width: 100%;
}

#home {
  width: 100%;
  height: 100vh;
  color: white;
}

#nav {
  width: 100%;
  padding: 2rem 2.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
}
#nav a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}

#header {
  margin-top: 90px;
}
#header h1 {
  font-family: "General Sans";
  font-size: 10.1vw;
  text-transform: uppercase;
  line-height: 0.9;
  opacity: 0.6;
  margin-left: 40px;
  letter-spacing: 6px;
}
#header-text {
  width: fit-content;
}
#header-text h1 {
  margin-left: 195px;
}
#header-text h4 {
  letter-spacing: 1.25px;
  text-align: right;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 1rem;
}

#subheader {
  margin-top: 100px;
  padding-right: 50px;
}
#subheader h5 {
  text-align: right;
  font-size: 1vw;
  font-weight: 100;
  margin-top: 0.5vw;
}

#home-footer {
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 3%;
  padding: 0 2.5vw;
  width: 100%;
}
#home-footer .iconset {
  display: flex;
  gap: 5px;
}
#home-footer .iconset .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #888;
}
#home-footer .iconset .circle i {
  color: black;
}