* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans Regular";
    color: white;
    a {
        text-decoration: none;
        color: white;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

#main {
    width: 100%;
    position: relative;

    #home {
        width: 100%;
        height: 100vh;
        color: white;
        position: relative;

        #nav {
            width: 100%;
            padding: 2rem 2.5rem;
            color: white;
            display: flex;
            justify-content: space-between;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: 1px;

            a {
                font-size: 1.1rem;
                text-decoration: none;
                color: white;
            }
            h4 span {
                opacity: 0.6;
            }
        }

        #header {
            margin-top: 90px;
            h1 {
                font-family: "General Sans";
                font-size: 10.1vw;
                text-transform: uppercase;
                line-height: 0.9;
                opacity: 0.6;
                margin-left: 40px;
                letter-spacing: 6px;
            }
            &-text {
                width: fit-content;
                h1 {
                    margin-left: 195px;
                }
                h4 {
                    letter-spacing: 1.25px;
                    text-align: right;
                    text-transform: uppercase;
                    font-size: 1rem;
                    margin-top: 1rem;
                }
            }
        }

        #subheader {
            margin-top: 100px;
            padding-right: 50px;
            margin-bottom: 20px;
            h4 {
                text-align: right;
                margin-top: 0.5vw;
            }
        }

        #home-footer {
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // position: absolute;
            bottom: 3%;
            padding: 0 2.5vw;
            width: 100%;
            .iconset {
                display: flex;
                gap: 5px;
                .circle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: #888;
                    & i {
                        color: black;
                    }
                }
            }
        }
    }

    #section1 {
        height: 100%;
        width: 100%;
        padding: 186px 10vw 3vw 3vw;

        .elem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 3.5vw 0vw;
            border-top: 1px solid #888;
            position: relative;
            & h1 {
                font-size: 7.35vw;
                opacity: 0.6;
                letter-spacing: 1px;
            }

            img {
                display: none;
                height: 110%;
                position: absolute;
                z-index: 999;
            }
        }
        .elemBottom {
            border: 1px solid #888;
        }
    }

    .section2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 6rem;
        padding: 6rem 0rem 6rem 12rem;
        &-img {
            padding-top: 3rem;
            img {
                border-radius: 50%;
                height: 16rem;
                width: auto;
            }
        }

        &-text {
            padding-top: 7rem;
            flex-basis: 38%;
            letter-spacing: 1.2px;

            .span {
                opacity: 0.7;
                margin-bottom: 5px;
                font-size: 1vw;
            }
            p {
                font-size: 1.25vw;
                padding-bottom: 30px;
                line-height: 1.4;
            }
            a {
                border: 1px solid #888;
                padding: 0.7rem;
                border-radius: 100px;
                font-size: 14px;
            }
        }
    }

    .footer {
        width: 100%;
        padding: 2.3rem;
        padding-bottom: 1rem;
        &-1 {
            margin-bottom: 9rem;
            p {
                opacity: 0.7;
                font-size: 1.05vw;
                margin-bottom: 0.7rem;
            }
            a {
                font-family: "General Sans Medium";
            }
        }
        &-2 {
            font-family: "General Sans Medium";
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left {
                flex-basis: 15%;
                display: flex;
                justify-content: space-between;
            }
            .right {
                flex-basis: 30%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
#sticky-pointer {
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
