* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans Regular";
  color: white;
}
* a {
  text-decoration: none;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

#main {
  width: 100%;
  position: relative;
}
#main #home {
  width: 100%;
  height: 100vh;
  color: white;
  position: relative;
}
#main #home #nav {
  width: 100%;
  padding: 2rem 2.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
}
#main #home #nav a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}
#main #home #nav h4 span {
  opacity: 0.6;
}
#main #home #header {
  margin-top: 90px;
}
#main #home #header h1 {
  font-family: "General Sans";
  font-size: 10.1vw;
  text-transform: uppercase;
  line-height: 0.9;
  opacity: 0.6;
  margin-left: 40px;
  letter-spacing: 6px;
  width: fit-content;
}
#main #home #header-block {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: end;
}
#main #home #header-block h1 {
  margin-left: 195px;
}
#main #home #header-block h4 {
  text-align: right;
  text-transform: uppercase;
  margin-top: 1rem;
  letter-spacing: 1.25px;
  font-size: 1rem;
}
#main #home #subheader {
  margin-top: 70px;
  padding-right: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
#main #home #subheader h4 {
  text-align: right;
  margin-top: 0.5vw;
}
#main #home #home-footer {
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 3%;
  padding: 0 2.5vw;
  width: 100%;
}
#main #home #home-footer .iconset {
  display: flex;
  gap: 5px;
}
#main #home #home-footer .iconset .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #888;
}
#main #home #home-footer .iconset .circle i {
  color: black;
}
#main #section1 {
  height: 100%;
  width: 100%;
  padding: 186px 10vw 3vw 3vw;
}
#main #section1 .elem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3.5vw 0vw;
  border-top: 1px solid #888;
  position: relative;
}
#main #section1 .elem h1 {
  font-size: 7.35vw;
  opacity: 0.6;
  letter-spacing: 1px;
}
#main #section1 .elem img {
  display: none;
  height: 110%;
  position: absolute;
  z-index: 999;
}
#main #section1 .elemBottom {
  border: 1px solid #888;
}
#main .section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 6rem;
  padding: 6rem 0rem 6rem 12rem;
}
#main .section2-img {
  padding-top: 3rem;
}
#main .section2-img img {
  border-radius: 50%;
  height: 16rem;
  width: auto;
}
#main .section2-text {
  padding-top: 7rem;
  flex-basis: 38%;
  letter-spacing: 1.2px;
}
#main .section2-text .span {
  opacity: 0.7;
  margin-bottom: 5px;
  font-size: 1vw;
}
#main .section2-text p {
  font-size: 1.25vw;
  padding-bottom: 30px;
  line-height: 1.4;
}
#main .section2-text a {
  border: 1px solid #888;
  padding: 0.7rem;
  border-radius: 100px;
  font-size: 14px;
}
#main .footer {
  width: 100%;
  padding: 2.3rem;
  padding-bottom: 1rem;
}
#main .footer-1 {
  margin-bottom: 9rem;
}
#main .footer-1 p {
  opacity: 0.7;
  font-size: 1.05vw;
  margin-bottom: 0.7rem;
}
#main .footer-1 a {
  font-family: "General Sans Medium";
}
#main .footer-2 {
  font-family: "General Sans Medium";
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .footer-2 .left {
  flex-basis: 15%;
  display: flex;
  justify-content: space-between;
}
#main .footer-2 .right {
  flex-basis: 30%;
  display: flex;
  justify-content: space-between;
}

#sticky-pointer {
  background-color: white;
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 50%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.bounding {
  width: fit-content;
  overflow: hidden;
}
.boundingElem {
  transform: translateY(100%);
}